.break-info{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
}

.break-info div{
    border-radius: 50%;
    background-color: rgb(151, 214, 213);
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.break-info button{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
}

.break{
    padding-top: 10px;
}

.break-title{
    text-align: center;
    margin-bottom: 10px;
}